#mapbox-map {
    width: 100%;
    /* view height, minus header bar height and room for buttons */
    height: calc(100vh - 60px);
    position: absolute;
    bottom: 0;
    left: 0;
}
#details {
    width: 50%;
    padding: 0 1em 1em;
    word-wrap: break-word;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
}
.icons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -12%);
}
.past {
    background-color: #eee;
}
.no-border {
    border: none;
}
.mdl-layout__content {
    padding: 0 40px;
}
